<app-header></app-header>

<vault-organization-user-notifications></vault-organization-user-notifications>

<vault-items-table
  [ciphers]="ciphers()"
  [loading]="loading()"
  [rowActions]="rowActions()"
  [folders]="folders()"
  [collections]="collections()"
  [organizations]="organizations()"
  [itemAction]="itemAction"
>
  <button
    slot="toolbar"
    id="vault-next_button_import"
    type="button"
    bitButton
    startIcon="bwi-arrow-down"
    buttonType="secondary"
    (click)="openImportDialog()"
  >
    {{ "importNoun" | i18n }}
  </button>
  <button
    slot="toolbar"
    id="vault-next_button_add-item"
    type="button"
    bitButton
    startIcon="bwi-plus"
    buttonType="primary"
    (click)="addItem()"
  >
    {{ "add" | i18n }}
  </button>
</vault-items-table>
